<div data-scope-path="comments/edit">
    <div class="container">
        <div class="comment__video-title"><%= @video.title %></div>
        <div class="comment__video-thumbnail"><%= image_tag(@video.thumbnail_url) %></div>
        <%= form_with(model: [ @user, @video, @comment ], url: video_comment_path) do |f| %>
            <div class="form-group">
                <div class="form-group">
                    <label>コメント</label>
                    <%= f.text_area :comment, class: "form-control" %>
                </div>
                <div class="text-left">
                    <%= f.submit "投稿", class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
        <%= link_to '> 動画へ戻る', video_path(@video) %>
    </div>
</div>