<div data-scope-path="videos/show">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                <div id="video__favorite-btn">
                    <%= render 'favorites/favorite_form', {video: @video, favorite: @favorite} %>
                </div>
                <div id="video__favorites-count">
                    <%= @video.favorites_count %>
                </div>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <p><%= @video.title %></p>
                <div class="video__window">
                    <%= content_tag(:iframe, '', :src => "https://www.youtube.com/embed/#{@video.video_id}?autoplay=0&controls=1") %>
                </div>
                <button type="button" class="btn video__collapse-btn" data-toggle="collapse" data-target="#video__collapse-description" aria-expanded="false">
                    <%= icon('fas', 'caret-square-down', class: 'video__caret-square-down') %>
                </button>
                <div class="collapse" id="video__collapse-description">
                    <%= simple_format(h @video.description) %>
                </div>
                <div class="comment">
                    <%= link_to 'コメントを投稿する' ,new_video_comment_path(@video.id), class: 'btn btn-primary comment__btn' %>
                    <div class="comment__title">コメント</div>
                    <%= 'コメントはまだ投稿されていません' if @video.comments.blank? %>
                    <%= render @video.comments %>
                </div>
            </div>
        </div>
    </div>
</div>