<div data-scope-path="introductions/show">
    <div class="container">
        <div class="introduction__what-is">
            <div class="introduction__what-is__box-1">
                <%= icon('fas', 'laptop', class: 'laptop') %>
                <p>proitt (プロイット)とは?</p>
            </div>
            <div class="introduction__what-is__box-2">
                <%= image_tag("proitt_logo.png", alt: "proitt logo") %>
                <p>プログラミング学習動画に特化した動画紹介&共有サービス</p>
            </div>
        </div>
        <div class="introduction__mission">
            <div class="introduction__mission__box-1">
                <%= icon('fas', 'flag', class: 'flag') %>
                <p>ミッション</p>
            </div>
            <div class="introduction__mission__box-2">
                プログラミング学習者に対して、動画学習を利用してもらうことで学習コストを下げることに貢献する。
            </div>
        </div>
        <div class="introduction__features">
            <div class="introduction__features__box-1">
                <%= icon('far', 'sticky-note', class: 'sticky-note') %>
                <p>特徴</p>
            </div>
            <div class="introduction__features__box-2">
                <%= icon('fas', 'check', class: 'check') %>
                <p>プログラミング学習動画に特化して動画掲載しているので、効率的に学習動画を見つけられる。</p>
            </div>
            <div class="introduction__features__box-2">
                <%= icon('fas', 'check', class: 'check') %>
                <p>YouTubeで閲覧数が多い動画を優先的に掲載しているので、良質な学習動画を見つけられる可能性が高い。</p>
            </div>
            <div class="introduction__features__box-2">
                <%= icon('fas', 'check', class: 'check') %>
                <p>Qiitaでタグ付されている上位ワードの動画を掲載しているので、エンジニア界隈で関心の高い技術動画のブラウジングができる。</p>
            </div>
        </div>
    </div>
</div>